<div class="row mb-4">
  <div class="col-md-3">

  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} </p>
    <p>{{format_date date_created}}</p>
  <p>
    <a class="d-flex justify-content-center links"><img src="./img/RSVP.png"></a>
  </p>
</div>
</div>
</div>
